body{
    font-family: 'Mulish', sans-serif;
}
p{
    color: #727272;
}

/*
* Header-Bereich
*/
.header{
    height: 620px;
    background-image: url("../img/header-background-edited.jpg");
    background-size: cover;
    background-position: 50% 45%;
}

.header-navbar-links{
    color: white;
    float: right;
    margin-top: 50px;
}

.header-navbar-links li{
    float: left;
    list-style-type: none;
    margin-left: 26px;
    text-shadow: 0px 0px 2px black;
}

.header-brand-wrapper{
    margin-top: 50px;
    float: left;
}

.header-brand{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 150%;
    margin-top: -9px;
    display: block;
    text-shadow: 0px 0px 2px black;
}

.slogan{
    padding-top: 110px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0px 0px 2px black;
}

.slogan-top{
    font-size: 170%;
    font-weight: lighter;
}

.slogan-bottom{
    font-size: 250%;
    font-weight: bold;
    /*text-transform: uppercase;*/
}

.slogan-button{
    margin-top: 60px;
    color: white;
    text-shadow: 0px 0px 2px black;    
}

.slogan-button:hover{
    color: white;
    text-shadow: 0px 0px 2px black;    
}




/*
* Service-Bereich
*/
.service{
    padding-top: 100px;
    padding-bottom: 75px;
}

.service-gray{
    background-color: #fafafa;
}

.service-title{
    font-weight: lighter;
    color: #1c1c1c;
}

.service-icon{
    color: #e0e0e0;
    font-size: 1500%;
    text-align: center;
    margin-top: -20%;
    margin-bottom: -20%;
}



/*
* Features-Bereich
*/
.features{
    padding-top: 100px;
    padding-bottom: 75px;
}

.feature-icon{
    width: 70px;
    height: 67px;
    padding-top: 3px;
    background-color: #1c1c1c;
    border-radius: 35px;
    color: white;
    text-align: center;
    font-size: 40px;
    float: left;
}

.feature-text{
    margin-left: 80px;
}
.feature-text h5{
    margin-bottom: 5px;
    font-size: 110%;
    color: #1c1c1c;
}



/*
* Clients-Bereich
*/
.clients{
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: #fafafa;
}

.clients-heading {
    font-weight: lighter;
    margin-bottom: 0px;
    text-align: center;
}

.clients-subheading{
    text-align: center;
    margin-bottom: 50px;
}

.client-image{
    width: 100%;
    border-radius: 10000px;
    border: 5px solid white;
}

.client-quote{
    border: 2px solid #f3f3f3;
    background-color: white;
    padding: 55px 75px 65px 75px;
    border-radius: 3px;
    font-size: 150%;
    font-weight: lighter;
    font-style: italic;
    position: relative;
}

.client-quote p{
    margin-bottom: 0px;
}

.client-quote-author{
    font-style: normal;
    font-size: 60%;
    color: #7185c4;
}

.client-quote::before,
.client-quote::after{
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;

}

.client-quote::before{
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #f3f3f3;
}

.client-quote::after{
    left: -26px;
    margin-top: -13px;
    border: 13px solid transparent;
    border-right: 13px solid white;
}

.client-quote-left::before{
    right: -30px;
    left: auto;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 15px solid #f3f3f3;
}

.client-quote-left::after{
    right: -26px;
    left: auto;
    margin-top: -13px;
    border: 13px solid transparent;
    border-left: 13px solid white;
}

.row{
    margin-bottom: 40px;
}

.html-logo{
    width: 50px; 
    padding-left: 47%;
    padding-top: 30px;
}
.css-logo{
    width: 50px;
}